.caption {
  padding: 1% !important;
  position: relative;
  height: 50%;
  right: 4%;
  width: 50%;
  font-size: 25px;
}

.carousel {
  height: 89.8vh;
  object-fit: cover;
}

.node circle {
  fill: #f3f3ff;
  stroke: #581b98;
  stroke-width: 2px;
}

.node text {
  font-size: 0.74rem;
  font-weight: 600;

  background-color: #444;
  fill: #444;
}

.node {
  cursor: pointer;
}

path.link {
  fill: none;
  stroke: #9c1de7;
  stroke-width: 1.5px;
}

body {
  background-color: white;
}

span {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #f4f4f4;
  text-shadow: 0 1px 4px black;
  float: right;
}
